.alt-header{
    display: flex;
    justify-content: center;
    padding:var(--horizontal-space);
    align-items: center;
    margin-bottom:10px;
}
.alt-header__title{
    font-size: 25px;
    font-weight: 600;
}
.alt-header__column:first-child{
    margin-right:auto;
}
.alt-header__column:last-child{
    margin-left:auto;
}